@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Here is our Project</h1>
    <a asp-action="Index" asp-controller="Student" class="btn btn-primary">StD</a>
    <br />
    <br />
    <br />
   <a asp-action="Index" asp-controller="Department" class="btn btn-dark">Dept</a>
   <br />
    <br />
    <br />

 

    <a asp-action="Index" asp-controller="Course" class="btn btn-danger">Course</a>

</div>
